<footer class="footer py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="neon-text">GameHub</h5>
          <p>Sua plataforma definitiva de games</p>
        </div>
        <div class="col-md-4">
          <h5>Links Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Redes Sociais</h5>
          <div class="social-icons">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-discord"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>