<section id="games" class="py-5">
    <div class="container">
      <div class="loading-container" *ngIf="jogoCarregando">
        <p>Carregando...</p>
        <div class="spinner"></div>
      </div>
      <div class="row" *ngFor="let info of jogo">
        <div class="col-md-4 mb-4">
          <div class="game-card" id={{info.id}}>
            <div class="game-card-image">
              <img [src]="info.cover_url" [alt]="info.name" class="img-fluid">
            </div>
            <div class="game-card-name">
              <h3>{{info.name}}</h3>
            </div>
            <div class="game-card-category" *ngFor="let genre of info.genres">
              <h5 class="genre-badge">{{genre}}</h5>
            </div>
            <div class="game-card-date_rating">                
              <div class="date">
                <i class="bi bi-calendar"></i>
                {{info.release_date|date}}
              </div>
              <div class="rating">
                <i class="bi bi-star-fill"></i>
                {{info.total_rating|formatarNota}}
              </div>
            </div>
            <!-- <div class="game-card-platform">
              <div class="platform">
                <img [src]="info.platforms_logo" alt="" class="img-fluid">
              </div>
            </div> -->

          </div>
        </div>
        <div class="col">
          <div class="game-card-details">
            <div class="storyline" *ngIf="info.storyline">
              <h3>História</h3>
              <p>{{info.storyline}}</p>
            </div>
            <div class="summary" *ngIf="info.summary">
              <h4>Descrição</h4>
              <p>{{info.summary}}</p>
            </div>
          </div>
        </div>
        <div class="videos" *ngIf="info.video_url?.length">
          <h4>Vídeos</h4>
          <div class="video-container">
            <div class="video-item" *ngFor="let video of info.video_url">
              <iframe 
                width="720" 
                height="480" 
                [src]="video  | safeVideoUrl" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
